<html>
  <head>
  </head>
  <body>
    <h1>hello world</h1>
    <h2>ipaddress: 10.0.0.8</h2>
    <h2>hostname: hs-vm6</h2>
    <h2>total memory: 7515721728</h2>
    <h2>cpu : 2.40Ghz</h2>
  </body>
</html>